CompileFlags:
  Add:
    - -isystem/Users/misikovich/.mchp_packs/Microchip/dsPIC33CK-MP_DFP/1.15.423/xc16/support/generic/h
    - -isystem/Users/misikovich/.mchp_packs/Microchip/dsPIC33CK-MP_DFP/1.15.423/xc16/support/dsPIC33C/h
    - -isystem/Applications/microchip/xc16/v2.10/include
    - -D__dsPIC33CK256MP506__=1
    - -D__XC16__=1
    - -D__prog__=
    - -D__eds__=
    - -D__psv__=
    - -D__pack_upper_byte=
    - -Wno-unknown-attributes
    - -Wno-ignored-attributes
  Remove:
    - -mcpu=*
    - -mdfp=*
    - -msmart-io=*
    - -msfr-warn=*
    - -mno-*
    - -momf=*
    - -mlarge-*
    - -mconst-in-*
